snippet ->join "join tables with Laravel Builder"
->join('$1', ${2:'$1.$3', '${4:=}', '$5.${6:$3}'});
endsnippet

snippet ::join "join tables with Laravel Builder"
::join('$1', ${2:'$1.$3', '${4:=}', '$5.${6:$3}'});
endsnippet


