snippet echopre "echo preformatted text"
echo '<pre>' . print_r(${2:[$1]}, 1) . '</pre>';${4: exit;}
endsnippet

snippet ee "echo and exit"
echo ${2:"$$1"};exit;
endsnippet

# Start Docblock
snippet /**
/**
 * @author Carlos Afonso
 * @date `date +%Y-%m-%d`
 *
 * ${1}
 */
endsnippet
